$primary: rgb(239,91,76);
$primaryHover: #D24335;
$secondary: rgb(0,123,255);
$background: rgb(255,255,255);
$background2: rgb(249,249,243);

$gutterDesktop: 30px;
$gutterMob: 15px;

$h1DesktopSize: 50px;
$h1TabletSize: 40px;
$h1MobileSize: 30px;
$h2Size: 24px;
$pSize: 16px;

$h1DesktopLineHeight: 54px;
$h1TabletLineHeight: 44px;
$h1MobileLineHeight: 34px;
$h2LineHeight: 29px;
$pLineHeight: 24px;